{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Neighbourhood | {{title}}</title>
    {% else %}

        <title> Neighbourhood </title> 
    {% endif %}

    {% block styles %}
          
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">     
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  
    {% endblock %}
  
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="kj" style="background:#0D5D56;">
        <a class="navbar-brand" href="{% url 'welcome-index' %}">Neighbourhood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">            
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'welcome-index' %}">Home <span class="sr-only">(current)</span></a>
                </li>             
            
            
            </ul>
            

            <ul class="navbar-nav ml-auto">
                <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="" >
                    <input name="search_donations" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search post">
                   <i class="spinner "></i>
               </form>
                
                {% if user.is_authenticated and user.is_hood_member %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'profile' %}">Member Profile<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% elif user.is_authenticated and user.hood_admin %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'profile' %}">Hood Admin Profile<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'register-business' %}">Register Business<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% elif user.is_authenticated and user.is_superuser %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'admin_pr' %}">Admin's Profile<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else%}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <main class="container-fluid" role="main" style="width: 90%; margin: 0 auto;">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} mt-1">
                {{message}}
            </div>
        {% endfor %}
        {% endif %}
        {% block content%}{% endblock %}
    </main>
    
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> 
    {% endblock %}

</body>
</html>